
.header{

    position: fixed;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background:wheat;
    opacity: .9;
    width: 97.5%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);


.logo{
    color:white;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    .icon{
        font-size: 25px;
        color: yellow;
        transform: translateY(5px)
    }

    
}

@media screen {
    
    .navBar{
        background: wheat;
       position: fixed;
        width: 20%;
        border-radius: 1rem;
        top: -500rem;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1000;
        box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904); 
        transition: .4s ease-in-out;

        .navLists{
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin: auto;
            padding: .5rem 0;


            .navItem{
                padding: .5rem 0;

                .navLink{
                    color: blue;
                    font-size: .9rem;
                    font-weight: 600;
                    &:hover{
                        color: white;
                    }
                }
            }

            .btn{
                margin-top: 1rem;
                border-radius: 8rem;
               
                
                a{
                    font-weight: 600;
                    color: blue;
                }
            }

        }
        .closeNavBar{

            position: absolute;
            top: 1rem;
            right: 1.5rem;
            color: rgb(128, 62, 62);
            
            &:hover{
                color: blue;
            }
        }
    }

    .activeNavbar{
        top: 20rem;

    }
}


.toggleNavBar{
    .icon{
        
        font-size: 25px;
        color: blue;
    }
    &:hover .icon{
        color: white;
    }
}


}

