.main{
    width: 20%;
}

.secTitle .title{
    
    position: relative;
    width: max-content;
    color: blue;
    margin: 1rem 0;
    z-index: 2; 
    
}

.secTitle .title::after{
position: absolute;
content: "";
height: 5px;
width: 200px;
right: 0;
bottom: 5px;

}

.secConent{

    justify-content: center;
    gap:1.5rem ;
}

.singleDestination{
    height: 100%;
    width: 350%;
    display: grid;
    row-gap: 10px;
    border-radius: 10px;
    align-items: center;
    background: rgb(236, 228, 228);
    box-shadow: 0 2px 4px rgba(140,140,141,0.54);
    overflow:hidden ;

}

.singleDestination:hover{
    background: brown;
    box-shadow: 1.4px 4px rgba(85,85,114,0.549 );
    transition: 3s ease;
}

.cardInfo{

    padding: 1rem;
}

.desTitle{
    color: yellowgreen;
    font-size: 1.2srem;
}

.continent{
    gap: .5rem;

    .icon{
        color: black;
        font-size: 18px;
    }

    .name{
        color: black;
        font-weight: 400;
        font-size: 14px;
    }
}

.fees{
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
    border-top: 1.5px solid var(--greyText);
    border-bottom: 1.5px solid var(--greyText);
}

.grade{

    color: rgb(24, 40, 35);
    max-width: 100px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

   

}

small{
    text-align: center;
    background: yellowgreen;
    color:black;
    border-radius: 1rem;
    padding: 1px 10px;
    font-size: 10px;
}

.price{
    font-size: 2rem;
    color: black;
}

.desc{
    font-size: 13.5px;
    color: black;
    font-weight: 500;
}


.btn{
margin-top: 1rem;
color: black;
font-weight: 600;
justify-content: space-between;
gap: .5rem;

.icon{
align-self: center;
font-size: 20px;
color: black;

}
}


@media  and (min-width: 700px) {
    .toggleNavBar,.closeNavbar{
        disp
    }
  }