* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }
  
  body {
    background:black;
   padding: 0 16px;
  font-family: "Montserrat", sans-serif;
  }
  
  a{
    text-decoration: none;
  }
  
  li{
    list-style: none;
   
  }
  @media screen and (min-width:1240px){
    
  
  .section{
    padding: 4rem 0 2rem;
  }
  
  .container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
  .icon{
  font-size: 2rem;
  cursor: pointer;
  color: white;
  
  }
  
  .flex{
  display: flex;
  align-items: center;
  }
  
  .grid{
    display: grid;
    align-items: center;
  }
  
  .btn{
    padding: 0.6rem 1rem;
    width: auto;
   background-color: white
    border-radius 30rem;
    border: none;
    outline: none;
    cursor:pointer

  }
  
  .btn a{
    color: black;
    font-weight: 700;
  }
  
  .btn:hover{
  
  background:yellowgreen;
  }

  img, video{
  width: 100%;
  height: auto;
  }
  
  input{
    font-size: 100%;
  }
  body{
    background:white;
  }